<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="shortcut icon" href="/image/weather.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by <a href="#" class="name">{{name}}</a> and it uses the WeatherStack and Mapbox API </p>
        <img  class="potrait" src="/image/image14.jpg" alt="">
    </div>

    {{>footer}}
</body>
</html>